<div id="home" class="slider">
  <ul >
    <li>
      <img src="/assets/frontOffice/img/homebenner.png" alt="" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%) scale(1.5) scaleY(0.8);">

       <div class="caption center-align">
        <div class="single_home">
          <h1>COEXIST</h1>
          <p>COEXIST,FOR A BETTER LIFE</p>
          <button type="button" class="btn btn-danger m-t-3 waves-effect waves-red">See More</button>
        </div>
      </div>



  </ul>
</div>





<section id="aboutus3" class="aboutus" style="background-image: url('/assets/frontOffice/img/whatweoffer.jpeg'); background-size: 100% 800px;">
  <div class="container">
    <div class="row">
      <div class="main_aboutus_area m-y-3">
        <div class="head_title center wow fadeInUp">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Lorem ipsum dolor sit amet, consectetur facilisis.</p>
        </div>

        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>





        <div class="main_aboutus_content center wow fadeInUp">
          <div class="col-md-6">
            <div class="single_aboutus center">
              <div class="single_aboutus_img">

              </div>
              <div class="single_aboutus_text">
                <h3>Our Work Image 06</h3>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section><!-- End of AboutUs section -->


<section id="serviceE" class="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main_service_area">
          <div class="head_title center m-y-3 wow fadeInUp">
            <h2>Our Service</h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="jumbotron single_service  wow fadeInLeft">
                <div class="service_icon center">
                  <i class="fa fa-car m-b-3"></i>
                </div>
                <div class="s_service_text text-sm-center text-xs-center">
                  <h4>Carpoolings</h4>
                  <p>Lorem ipsum dolor sit amet, conse tetuer adipiscing elit, sed diam nonu my nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>

                <div class="service_btn center">
                  <a href="#!" class="btn btn-danger waves-effect waves-red">See  More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="jumbotron single_service wow fadeInUp">
                <div class="service_icon center">
                  <i class="fa fa-home m-b-3"></i>
                </div>
                <div class="s_service_text text-sm-center text-xs-center">
                  <h4>Collocations</h4>
                  <p>Lorem ipsum dolor sit amet, conse tetuer adipiscing elit, sed diam nonu my nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>

                <div class="service_btn center">
                  <a href="#!" class="btn btn-danger waves-effect waves-red">See  More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="jumbotron single_service wow fadeInRight">
                <div class="service_icon center">
                  <i class="fa fa-calendar m-b-3"></i>

                </div>
                <div class="s_service_text text-sm-center  text-xs-center">
                  <h4>Our Events</h4>
                  <p> Explore our best events, share your thoughts, and let us turn your vision into a captivating reality. Book now and make your event an unforgettable experience</p>
                </div>

                <div class="service_btn center">
                  <a href="#!" class="btn btn-danger waves-effect waves-red">See  More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section> <!-- End of service section -->

<section id="service" class="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main_service_area">
          <div class="head_title center m-y-3 wow fadeInUp">
            <h2></h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="jumbotron single_service  wow fadeInLeft">
                <div class="service_icon center">
                  <i class="fa fa-shopping-basket m-b-3"></i>
                </div>
                <div class="s_service_text text-sm-center text-xs-center">
                  <h4>Marketplace</h4>
                  <p>
                    Welcome to COEXIST, where your preferences shape the perfect shopping experience. Discover, order, and indulge in seamless transactions.</p>
                </div>

                <div class="service_btn center">
                  <a href="#!" class="btn btn-danger waves-effect waves-red">See  More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="jumbotron single_service wow fadeInUp">
                <div class="service_icon center">
                  <i class="fa fa-pied-piper m-b-3"></i>
                </div>
                <div class="s_service_text text-sm-center text-xs-center">
                  <h4>Forum</h4>
                  <p>
                Share your stories, ask questions, and connect with like-minded individuals who share your passion for sustainable living and meaningful experiences. </p>
                </div>

                <div class="service_btn center">
                  <a href="#!" class="btn btn-danger waves-effect waves-red">See  More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="jumbotron single_service wow fadeInRight">
                <div class="service_icon center">
                  <i class="fa fa-plug m-b-3"></i>
                </div>
                <div class="s_service_text text-sm-center  text-xs-center">
                  <h4>Our Chat Rooms</h4>
                  <p>Lorem ipsum dolor sit amet, conse tetuer adipiscing elit, sed diam nonu my nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>

                <div class="service_btn center">
                  <a href="#!" class="btn btn-danger waves-effect waves-red">See  More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section> <!-- End of service section -->



<section id="joinus" class="joinus">
  <div class="main_joinus_area m-y-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="main_joinus_content center black-text wow fadeInUp">
            <i class="fa fa-comment m-b-3"></i>

            <h2 class="text-uppercase m-b-3">Join Our Carpooling Community</h2>
            <p>“ Do you struggle with finding affordable transportation to and from ESPRIT? Join our carpooling community and make your commute easier and more affordable! Connect with other ESPRIT students who share your schedule and are looking to carpool. Save on fuel and contribute to a more sustainable environment.”</p>

            <a href="#!" class="btn btn-danger waves-effect waves-red">Join with us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section> <!-- End of JoinUs section -->




<section id="offer" class="offer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main_offer_area">
          <div class="head_title center m-y-3  wow fadeInUp">
            <h2>What we Offer</h2>
          </div>
          <div class="main_offer_content m-b-3  wow fadeInUp">
            <div class="row">
              <div class="col-md-6">
                <div class="single_offer m-t-3">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="single_offer_icon">
                        <i class="fa fa-car"></i>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="single_offer_text">
                        <h3>Start a Carpool</h3>
                        <p>Connect with fellow ESPRIT students and start sharing rides. Save on transportation costs and reduce your carbon footprint.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single_offer m-t-3">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="single_offer_icon">
                        <i class="fa fa-home"></i>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="single_offer_text">
                        <h3>Find a Roommate</h3>
                        <p>Looking for a roommate? Our platform helps you find compatible roommates based on your preferences and interests.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single_offer m-t-3">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="single_offer_icon">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="single_offer_text">
                        <h3>Experience the Magic</h3>
                        <p>Join our community and experience the magic of shared rides and housing solutions. Make new friends and save money while doing it!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single_offer m-t-3">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="single_offer_icon">
                        <i class="fa fa-shopping-basket"></i>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="single_offer_text">
                        <h3>Don't Miss Out</h3>
                        <p>Don't miss the chance to join our carpooling and room-sharing community. Get started today and enjoy a more affordable and sustainable lifestyle.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>


<section id="counter" class="counter">

  <div class="main_counter_area m-y-3">
    <div class="overlay p-y-3">
      <div class="container">
        <div class="row">
          <div class="main_counter_content center white-text wow fadeInUp">
            <div class="col-md-3">
              <div class="single_counter p-y-2 m-t-1">
                <i class="fa fa-heart m-b-1"></i>
                <h2 class="statistic-counter">100</h2>
                <p>Love Our Team</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="single_counter p-y-2 m-t-1">
                <i class="fa fa-check m-b-1"></i>
                <h2 class="statistic-counter">400</h2>
                <p>Check Our</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="single_counter p-y-2 m-t-1">
                <i class="fa fa-refresh m-b-1"></i>
                <h2 class="statistic-counter">312</h2>
                <p>repeat client</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="single_counter p-y-2 m-t-1">
                <i class="fa fa-beer m-b-1"></i>
                <h2 class="statistic-counter">480</h2>
                <p>Pizzas Ordered</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section><!-- End of counter Section -->



<section id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main_team_area m-y-3">
          <div class="head_title center  wow fadeInUp">
            <h2>our latest events</h2>
            <p>Join our community to stay updated on the latest carpooling events and initiatives. Our platform connects you with compatible matches, helping you save on transportation costs, and contributing to a sustainable environment. Whether you're a driver with an available car or a student seeking a ride, we've got you covered. Say goodbye to the hassle of finding transportation solutions alone and join our carpooling community today!</p>

          </div>

          <div class="main_team_content center">
            <div class="row">
              <div class="col-md-3">
                <div class="single_team white-text m-t-2 wow zoomIn">
                  <img src="/assets/frontOffice/img/event22.jpg" alt="team" height="282" width="513">
                  <div class="single_team_overlay">
                    <h4>ala event</h4>
                    <p>25/2/2023</p>
                    <div class="team_socail">
                      <a href="#!"><i class="fa fa-facebook"></i></a>
                      <a href="#!"><i class="fa fa-twitter"></i></a>
                      <a href="#!"><i class="fa fa-pinterest-p"></i></a>
                      <a href="#!"><i class="fa fa-dribbble"></i></a>
                      <a href="#!"><i class="fa fa-behance"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="single_team white-text m-t-2 wow zoomIn">
                  <img src="/assets/frontOffice/img/event3.jpg" alt="team" height="282" width="513">
                  <div class="single_team_overlay">
                    <h4>PIDEV WORKSHOP</h4>
                    <p>25/2/2023</p>
                    <div class="team_socail">
                      <a href="#!"><i class="fa fa-facebook"></i></a>
                      <a href="#!"><i class="fa fa-twitter"></i></a>
                      <a href="#!"><i class="fa fa-pinterest-p"></i></a>
                      <a href="#!"><i class="fa fa-dribbble"></i></a>
                      <a href="#!"><i class="fa fa-behance"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="single_team white-text m-t-2 wow zoomIn">
                  <img src="/assets/frontOffice/img/event4.jpg" alt="team" height="282" width="513">
                  <div class="single_team_overlay">
                    <h4>MOON event</h4>
                    <p>25/2/2023</p>
                    <div class="team_socail">
                      <a href="#!"><i class="fa fa-facebook"></i></a>
                      <a href="#!"><i class="fa fa-twitter"></i></a>
                      <a href="#!"><i class="fa fa-pinterest-p"></i></a>
                      <a href="#!"><i class="fa fa-dribbble"></i></a>
                      <a href="#!"><i class="fa fa-behance"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="single_team white-text m-t-2 wow zoomIn">
                  <img src="/assets/frontOffice/img/evenement-auditorium.jpg" height="282" width="513" />
                  <div class="single_team_overlay">
                    <h4>MASK CONFERANCE</h4>
                    <p>25/2/2023</p>
                    <div class="team_socail">
                      <a href="#!"><i class="fa fa-facebook"></i></a>
                      <a href="#!"><i class="fa fa-twitter"></i></a>
                      <a href="#!"><i class="fa fa-pinterest-p"></i></a>
                      <a href="#!"><i class="fa fa-dribbble"></i></a>
                      <a href="#!"><i class="fa fa-behance"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End of col-sm-3 -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section><!-- End of Team section -->


<section id="portfolio" class="portfolio" style="background-image: url('assets/frontOffice/img/fr.jpg');background-size: 100% 800px;">
  <div class="container">
    <div class="row">
      <div class="main_portfolio_area m-y-3">
        <div class="head_title center wow fadeInUp">
          <h2 style="color: white;">Our Carpooling Community</h2>
          <p style="color: white;">Check out some of the latest carpooling matches and successful rides within our carpooling community!</p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>
        <div class="head_title center wow fadeInUp">
          <h2></h2>
          <p></p>
        </div>



        <div class="main_portfolio_content center wow fadeInUp">
          <div class="main_mix_menu m-y-2">
            <ul class="text-uppercase">
              <li class="filter" data-filter="all" style="color: white;">All</li>
              <li class="filter" data-filter=".cat1" style="color: white;">Rides</li>
              <li class="filter" data-filter=".cat2" style="color: white;">Matches</li>
            </ul>
          </div>

          <div id="mixcontent" class="mixcontent  wow zoomIn">
            <div class="col-md-4 mix cat1 cat2">
              <div class="single_mixi_portfolio center">
                <div class="single_portfolio_img">
                  <img src="/assets/frontOffice/img/pf1.jpg" alt="" />
                  <div class="mixi_portfolio_overlay">
                    <a href="#!"><i class="fa fa-search"></i></a>
                    <a href="/assets/frontOffice/img/pf1.jpg" class="gallery-img"><i class="fa fa-link"></i></a>
                  </div>
                </div>
                <div class="single_portfolio_text">
                  <h3>Shared Ride Image 01</h3>
                  <p>John and Sarah found a successful match and shared a ride together to ESPRIT!</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mix cat1 cat2">
              <div class="single_mixi_portfolio center">
                <div class="single_portfolio_img">
                  <img src="/assets/frontOffice/img/pf2.jpg" alt="" />
                  <div class="mixi_portfolio_overlay">
                    <a href="#!"><i class="fa fa-search"></i></a>
                    <a href="/assets/frontOffice/img/pf2.jpg" class="gallery-img"><i class="fa fa-link"></i></a>
                  </div>
                </div>
                <div class="single_portfolio_text">
                  <h3>Shared Ride Image 02</h3>
                  <p>Chris and Emily had a successful match and shared a ride to ESPRIT. Happy faces all around!</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mix cat1 cat2">
              <div class="single_mixi_portfolio center">
                <div class="single_portfolio_img">
                  <img src="/assets/frontOffice/img/pf3.jpg" alt="" />
                  <div class="mixi_portfolio_overlay">
                    <a href="#!"><i class="fa fa-search"></i></a>
                    <a href="/assets/frontOffice/img/pf3.jpg" class="gallery-img"><i class="fa fa-link"></i></a>
                  </div>
                </div>
                <div class="single_portfolio_text">
                  <h3>Shared Ride Image 03</h3>
                  <p>Alex and Olivia had a successful match and shared a ride to ESPRIT. Happy faces all around!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>



<section id="works" class="works">
  <div class="container">
    <div class="row">
      <div class="main_works_area center m-y-3">
        <div class="head_title center  wow fadeInUp">
          <h2>Our Awesome Works</h2>
        </div>

        <div class="main_works_content p-y-3">
          <div class="col-md-3">
            <div class="single_works wow zoomIn">
              <img src="/assets/frontOffice/img/works1.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="single_works wow zoomIn">
              <img src="/assets/frontOffice/img/works2.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="single_works wow zoomIn">
              <img src="/assets/frontOffice/img/works3.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="single_works wow zoomIn">
              <img src="/assets/frontOffice/img/works4.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section><!-- End of works Section -->


<section id="newsletter" class="newsletter">
  <div class="container">
    <div class="row">
      <div class="main_newsletter white-text p-y-2 m-t-3">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="single_newsletter left m-t-1 text-md-left text-sm-center text-xs-center wow zoomIn">
            <p>Subscribe to our newsletter to get every Notify</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="single_newsletter text-md-right text-sm-center wow zoomIn">
            <div class="md-form input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                                        <button class="btn waves-effect waves-red" type="button"><i class="fa fa-send"></i></button>
                                    </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End of Newsletter section -->
