<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,300,300italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

<!-- Material Design Bootstrap -->
<link href="/assets/frontOffice/css/materialize.css" rel="stylesheet">

<!-- Magnific-popup css -->
<link href="/assets/frontOffice/css/magnific-popup.css" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/assets/frontOffice/css/bootstrap.min.css" rel="stylesheet">

<!-- Material Design Bootstrap -->
<!--<link href="css/progressbar.css" rel="stylesheet">-->

<!-- Material Design Bootstrap -->
<link href="/assets/frontOffice/css/mdb.min.css" rel="stylesheet">



<!-- Your custom styles (optional) -->
<link href="/assets/frontOffice/css/style.css" rel="stylesheet">
<link href="/assets/frontOffice/css/responsive.css" rel="stylesheet">


<app-header-front></app-header-front>
<router-outlet></router-outlet>
<div>

<app-footer-front></app-footer-front>
</div>
       <script type="text/javascript" src="/assets/frontOffice/js/jquery-2.2.3.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/assets/frontOffice/js/tether.min.js"></script>


<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/assets/frontOffice/js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="/assets/frontOffice/js/mdb.min.js"></script>

<!-- Wow js -->
<script type="text/javascript" src="/assets/frontOffice/js/wow.min.js"></script>

<!-- Mixitup js -->
<script type="text/javascript" src="/assets/frontOffice/js/jquery.mixitup.min.js"></script>

<!-- Magnific-popup js -->
<script type="text/javascript" src="/assets/frontOffice/js/jquery.magnific-popup.js"></script>

<!-- accordion js -->
<script type="text/javascript" src="/assets/frontOffice/js/accordion.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="/assets/frontOffice/js/materialize.js"></script>

<script>
  $(".button-collapse").sideNav();
</script>

<!-- wow js active -->
<script type="text/javascript">
  new WOW().init();
</script>

<script type="text/javascript" src="/assets/frontOffice/js/plugins.js"></script>
<script type="text/javascript" src="/assets/frontOffice/js/main.js"></script>
